*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #282a36;
  font-family: 'Open Sans', sans-serif;
  color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}