*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}
/** Cabeçalho**/
.cabecalho{
    background-color: #f7b600;
    padding: 25px;
    text-align: center;
    color: white;
}

.black{
    color: black;
}

.menu{
    margin-top: 20px;
    padding: 10px;
}

.menu a {
text-decoration: none;
padding: 5px;
color: white;
}

.menu a:hover{
    color: #0373fc;
    background-color: white;
}

/** Centro**/

.centro{
    width: 1240px;
    height: 200px;
    text-align: center;
    margin-left: 50px;
}

.ofertas{
    text-align: center;
    margin-top: 100px;
}
.ofertas input[type=text]{
    width: 400px;
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
}

button{
    background-color:#f7b600;
    padding: 6px;
    border-radius: 4px;
    border: none;
}

/** Rodapé**/

.rodape p{
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.rodape img{
    position: relative;
    max-width: 120px;
    margin-left: 250px;
}

/** Controle de Estoque**/
.ms{
    margin-left: 15px;
}

.menu-estoque{
    margin: 15px 5px;
}

.menu-estoque a{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.titulo{
    margin-left: 10px;
}

/** Add-Produto**/
.formulario{
    margin: 20px;
}

.form-add button{
    margin-left: 30px;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}



/** Funcionários **/
.lista{
    margin-top: 15px;
    margin-left: 25px;
}